In [1]:
import pandas as pd
import numpy as np
import os

base_dir = '..\data'
excel_file = "category.xlsx"
excel_dir = os.path.join(base_dir, excel_file)

data = pd.read_excel(excel_dir, sheet_name = 'Sheet1', header = 0,
                     dtype = {'name': str, 'count': int},na_values = 'NaN')

In [2]:
data

         아구찜   1370
0       포장마차    278
1         카페  25938
2      피쉬앤칩스     23
3          펍    726
4       레스토랑   2795
...      ...    ...
4829   대창떡볶이      1
4830  해물철판전골      1
4831   해신삼계탕      1
4832    바베큐립      1
4833    만두라면      1

[4834 rows x 2 columns]

In [ ]:
pip install konlpy